$theme-secondary: white;
$theme-primary: #ECF0F1;
$theme-buttons: #577399;
$theme-buttons-hover: #415876;
$theme-buttons-click: #6586b2;
$theme-buttons-secondary: #52B788;
$theme-buttons-secondary-hover: #459b73;
$theme-buttons-secondary-click: #67dfa7;
$theme-border: #4D5061;
$theme-font: black;
$theme-font-secondary: #fafafa;
$theme-highlight: #fafafa;
$theme-active: #d3d3d3;

$control-panel-width: 225px;

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size:  14px;
    color: $theme-font;
}

#root, .main {
    height: 100vh;
}

.main {
    display: grid;
    // 2 columns: the control bar on the left and the message box
    grid-template-columns: $control-panel-width auto;
}

h1 {
    color: $theme-font-secondary;
    font-size: 20px;
}

input {
    outline: none;
    border: 1px solid $theme-border;
    border-radius: 5px;
    color: $theme-font;
    font-size: 12px;
}

button {
    border-radius: 5px;
    background-color: $theme-buttons;
    border: none;
    color: $theme-font-secondary;

    &:hover {
        background-color: $theme-buttons-hover;
    }

    &:focus {
        outline: none;
        background-color: $theme-buttons-click;
    }
}

/* ------ Control Panel ------ */

.control-panel {
    background-color: $theme-primary;
    display: grid;
    grid-template-rows: 60px 60px auto 50px;
    text-align: center;
    position: fixed;
    height: 100vh;
    width: $control-panel-width;

    .button {
        padding: 10px 25px;
        margin-top: 20px;
    }

    .public-button {
        width: 75%;
        margin: 0;
        background-color: $theme-buttons-secondary;

        &:hover {
            background-color: $theme-buttons-secondary-hover;
        }

        &:focus {
            background-color: $theme-buttons-secondary-click;
        }
    }

    &__input {
        margin-top: 25px;
        padding: 5px 10px;
        width: 75%;
        height: 40%;
    }

    &__users {
        .recents {
            text-align: left;
            margin-top: 20px;

            p {
                padding: 7px 20px;
            }

            &-item {
                &:hover {
                    background-color: $theme-highlight;
                }
                &__active {
                    background-color: $theme-active;
                }
            }
            
            &__item {
                cursor: pointer;
            }
        }
    }
}

/* ------ Modal ------ */
.modal {
    z-index: 1001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 250px;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    div {
        input {
            width: 80%;
            border: 1px solid $theme-border;
            margin-top: 60px;
            padding: 10px;
        }
    }
    button {
        margin: 100px 10px 0 10px;
        padding: 0 40px;
        text-align: center;
    }
}


.modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
}


/* ------ Message View ------ */
.message-view {
    grid-column-start: 2;
    background-color: $theme-secondary;

    .messenger {
        width: calc(100% - #{$control-panel-width});
        float: right;
        position: fixed;
        bottom: 0;
        right: 0
    }

}

.messenger-input {
    width: calc(100% - 42px);
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.messages {
    height: 93vh;
    overflow: scroll;
}


.message {
    width: calc(100% - 21px);
    padding: 0 10px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 40px auto; // 90px was author
    &-author {
        font-weight: bold;
        overflow: hidden;
    }
    &-time {
        color: lightgray;
        font-size: 12px;
        padding-top: 2px;
        span {
            color: lightgray;
            font-size: 12px;
        }
        &-top {
            padding-top: 18px;
        }
        &-top-emoji {
            padding-top: 23px;
        }
        &-emoji {
            padding-top: 9px;
        }
    }
    div, p {
        color: $theme-font;
        .emoji {
            font-size: 30px;
            vertical-align: middle;
            line-height: 2;
        }
    }
    code {
        color: $theme-font;
        font-family: Monospace;
        background-color: lightgray;
    }
}