$theme-secondary: white;
$theme-primary: #ECF0F1;
$theme-buttons: #577399;
$theme-buttons-hover: #415876;
$theme-buttons-click: #6586b2;
$theme-buttons-secondary: #52B788;
$theme-buttons-secondary-hover: #459b73;
$theme-buttons-secondary-click: #65c498;
$theme-buttons-error: #b75252;
$theme-buttons-error-hover: #a74747;
$theme-buttons-error-click: #ca5d5d;
$theme-border: #4D5061;
$theme-font: #323232;
$theme-font-dark: black;
$theme-font-secondary: #fafafa;
$theme-highlight: #fafafa;
$theme-active: #dddddd;

$control-panel-width: 225px;

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size:  14px;
    color: $theme-font;
}

#root, .main {
    height: 100vh;
}

.main {
    display: grid;
}

.drawer-closed {
    grid-template-columns: $control-panel-width auto;
}
.drawer-open {
    grid-template-columns: $control-panel-width auto minmax(auto, 300px);
}

h1 {
    font-size: 20px;
}

input {
    outline: none;
    border: 1px solid $theme-border;
    border-radius: 5px;
    color: $theme-font;
    font-size: 12px;
}

button {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: $theme-buttons;
    border: none;
    color: $theme-font-secondary;

    &:hover {
        background-color: $theme-buttons-hover;
    }

    &:focus {
        outline: none;
        background-color: $theme-buttons-click;
    }
}

.button-close {
    cursor: pointer;
}

/* ------ Control Panel ------ */

.control-panel {
    background-color: $theme-primary;
    display: grid;
    grid-template-rows: 60px 60px auto 50px;
    text-align: center;
    position: fixed;
    height: 100vh;
    width: $control-panel-width;

    .button {
        padding: 10px 25px;
        margin-top: 20px;
    }

    .public-button {
        width: 75%;
        margin: 0;
        background-color: $theme-buttons-secondary;

        &:hover {
            background-color: $theme-buttons-secondary-hover;
        }

        &:focus {
            background-color: $theme-buttons-secondary-click;
        }
    }

    &__input {
        margin-top: 25px;
        padding: 5px 10px;
        width: 75%;
        height: 40%;
    }

    &__users {
        .recents {
            text-align: left;
            margin-top: 20px;
            overflow: scroll;

            p {
                padding: 7px 20px;
            }

            &-item {
                &:hover {
                    background-color: $theme-highlight;
                }
                &__active {
                    background-color: $theme-active;
                }
            }
            .unread {
                color: $theme-font-dark;
                font-weight: bold;
            }
            
            &__item {
                cursor: pointer;
            }
        }
    }
}

/* ------ Modal ------ */
.modal {
    z-index: 1001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 225px;
    background-color: $theme-secondary;
    display: grid;
    grid-template-rows: auto 70px;
    border-radius: 5px;


    div {
        text-align: center;
        input {
            width: 80%;
            border: 1px solid $theme-border;
            margin-top: 65px;
            padding: 10px;
        }
    }

    div:nth-child(2) {
        text-align: right;
        border-top: 1px solid $theme-primary;

        button {
            margin: 15px 10px 0 10px;
            text-align: center;
        }
    
        .join-button {
            margin-right: 30px;
            background-color: $theme-buttons-secondary;
    
            &:hover {
                background-color: $theme-buttons-secondary-hover;
            }
    
            &:focus {
                background-color: $theme-buttons-secondary-click;
            }
        }
    }
}


.modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
}


/* ------ Message View ------ */
.message-view {
    height: 100vh;
    grid-column-start: 2;
    background-color: $theme-secondary;
    display: grid;
    grid-template-rows: auto 60px;

    .messenger {
        grid-row-start: 2;
        padding: 10px;
    }

}

.messenger-input {
    width: calc(100% - 21px);
    padding: 10px;
    margin-bottom: 15px;
}

.messages {
    grid-row-start: 1;
    overflow: scroll;
}


.message {
    width: calc(100% - 21px);
    padding: 0 10px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 40px auto; // 90px was author
    &-author {
        font-weight: bold;
        overflow: hidden;
    }
    &-time {
        color: lightgray;
        font-size: 12px;
        padding-top: 4px;
        &-top {
            padding-top: 20px;
        }
    }
    .mention {
        background-color: $theme-buttons-secondary-hover;
        color: $theme-secondary;
    }
    div, p {
        color: $theme-font;
        line-height: 1.5;
        .emoji {
            font-size: 20px;
            vertical-align: middle;
            line-height: 1;
        }
    }
    code {
        color: $theme-font;
        font-family: Monospace;
        background-color: $theme-active;
    }
}

/* ------ Author Drawer ------ */
.author-drawer {
    height: 100vh;
    border-left: 1px solid $theme-active;
    width: 300px;
    max-width: 300px;
    padding: 0 20px;
    display: grid;
    grid-template-rows: 175px 100px 60px 60px auto;

    div {
        text-align: center;

        h1 {
            font-size: 28px;
        }
    }

    .button-block {
        margin-right: 20px;
        background-color: $theme-buttons-error;

        &:hover {
            background-color: $theme-buttons-error-hover;
        }

        &:focus {
            background-color: $theme-buttons-error-click;
        }
    }

    .button-close {
        margin-top: 20px;
    }

    p {
        word-wrap: break-word;
    }

}