@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

$theme-secondary: #fafafa;
$theme-primary: #ECF0F1;
$theme-buttons: #38758f;
$theme-buttons-hover: #224d5f;
$theme-buttons-click: #4493b4;
$theme-buttons-secondary: #44a598;
$theme-buttons-secondary-hover: #35877C;
$theme-buttons-secondary-click: #50c0b1;
$theme-buttons-error: #b75252;
$theme-buttons-error-hover: #a74747;
$theme-buttons-error-click: #ca5d5d;
$theme-border: #27324A;
$theme-font: #323232;
$theme-font-dark: black;
$theme-font-secondary: #fafafa;
$theme-highlight: #fafafa;
$theme-active: #dddddd;
$theme-error: #c32f27;
$theme-notification: #f7dba7;
$color-white: #fff;

$control-panel-width: 225px;
  
$main-font: 'Roboto', Helvetica, sans-serif;

* {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    font-size:  14px;
    color: $theme-font;
}

#root, .main {
    height: 100vh;
}

.main {
    display: grid;
}

.drawer-closed {
    grid-template-columns: $control-panel-width auto 50px;
}

.drawer-open {
    grid-template-columns: $control-panel-width auto 247px;
}

#author-id {
    font-size: 18px;
    margin-top: 10px;
    font-weight: normal;
    word-break: break-all;
    font-family: monospace;
}

h1 {
    font-size: 20px;
}

input {
    outline: none;
    border: 1px solid $theme-border;
    border-radius: 5px;
    color: $theme-font;
}

button {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: $theme-buttons;
    border: none;
    color: $theme-font-secondary;

    &:hover {
        background-color: $theme-buttons-hover;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .25)
    }

    &:focus {
        outline: none;
        background-color: $theme-buttons-click;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.button-close {
    cursor: pointer;
}

/* ------ Control Panel ------ */
.control-panel {
    background-color: $theme-primary;
    display: grid;
    grid-template-rows: 60px 80px auto 50px;
    text-align: center;
    position: fixed;
    height: 100vh;
    width: $control-panel-width;

    .button {
        padding: 10px 25px;
        margin-top: 20px;
    }

    .public-button {
        width: 75%;
        margin: 0;
        background-color: $theme-buttons-secondary;

        &:hover {
            background-color: $theme-buttons-secondary-hover;
        }

        &:focus {
            background-color: $theme-buttons-secondary-click;
        }
    }

    &__input {
        margin-top: 35px;
        padding: 7px 10px;
        width: 75%;

        &:focus {
            border: 2px solid $theme-buttons-click;
            outline: none;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &__users {
        max-width: $control-panel-width;
        .recents {
            text-align: left;
            margin-top: 20px;
            overflow: scroll;

            div {
                display: grid;
                grid-template-columns: 190px 35px;
                p {
                    padding: 7px 20px;
                    margin-right: 5px;
                    overflow: hidden;
                }
                span {
                    width: 15px;
                }
                svg {
                    margin: 7px 0;
                    fill-opacity: .8;
                }
                .hover {
                    * {
                        fill: $theme-error;
                    }
                }
            }

            &-item {
                &:hover {
                    background-color: $theme-highlight;
                }
                &__active {
                    background-color: $theme-active;
                }
            }
            .unread {
                color: $theme-font-dark;
                font-family: $main-font;
                font-weight: bold;
            }
            
            &__item {
                cursor: pointer;
            }
        }
    }
}

/* ------ Modal ------ */
.modal {
    z-index: 1001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 225px;
    background-color: $theme-secondary;
    display: grid;
    grid-template-rows: auto 70px;
    border-radius: 5px;


    div {
        text-align: center;
        input {
            width: 80%;
            border: 1px solid $theme-border;
            margin-top: 65px;
            padding: 10px;
        }
    }

    div:nth-child(2) {
        text-align: right;
        border-top: 1px solid $theme-primary;

        button {
            margin: 15px 10px 0 10px;
            text-align: center;
        }
    
        .join-button {
            margin-right: 30px;
            background-color: $theme-buttons-secondary;
    
            &:hover {
                background-color: $theme-buttons-secondary-hover;
            }
    
            &:focus {
                background-color: $theme-buttons-secondary-click;
            }
        }
    }
}

.modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}


/* ------ Message View ------ */
.message-view {
    height: 100vh;
    grid-column-start: 2;
    background-color: $theme-secondary;
    display: grid;
    grid-template-rows: auto 60px;

    .messenger {
        grid-row-start: 2;
        padding: 10px;
    }

}

.messenger-input {
    width: calc(100% - 21px);
    padding: 10px;
    margin-bottom: 15px;
}

.messages {
    grid-row-start: 1;
    overflow: scroll;
}

.empty {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    span {
        margin: auto;
        grid-row-start: 2;
        font-size: 32px;
    }
}


.message {
    width: calc(100% - 21px);
    padding: 0 10px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 40px auto; // 90px was author
    &-author {
        width: min-content;
        font-family: $main-font;
        font-weight: bold;
        overflow: hidden;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    &-time {
        color: lightgray;
        font-size: 12px;
        padding-top: 4px;
        &-top {
            padding-top: 20px;
        }
        &-action {
            padding-top: 2px;
        }
    }
    .mention {
        background-color: $theme-buttons-secondary-hover;
        color: $theme-secondary;
    }
    div, p {
        color: $theme-font;
        line-height: 1.5;
    }
    .emoji {
        vertical-align: middle;
        line-height: 1;
    }
    &-text-action {
        p {
            font-family: $main-font;
            font-weight: bold;
            color: inherit;
            line-height: normal;
        }
        p:before {
            content: "\00a0 ";
        }
    }
    code {
        color: $theme-font;
        font-family: Monospace;
        background-color: $theme-active;
    }
}
.message-action {
    width: calc(100% - 21px);
    padding: 0 10px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 40px min-content auto;
}

/* ------- Toast ---------- */
.toast {
    position: absolute;
    top: 0;
    left: $control-panel-width;
    width: calc(100% - 225px);
    height: 40px;
    display: grid;
    grid-template-columns: 95% 5%;
    transform: translateY(-70px);
    animation: slideDown 4.5s 0s ease forwards;
    * {
        font-weight: bold;
        line-height: 40px;
        text-align: center;
    }
}

@keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-70px); }
    10%, 80% { -webkit-transform: translateY(0px); }
}

.error {
    background-color: $theme-error;
    * {
        color: $theme-font-secondary;
    }
}

.notification {
    background-color: $theme-notification;
    * {
        color: $theme-font;
    }
}

/* ------ Author Drawer ------ */
.author-drawer {
    height: 100vh;
    border-left: 2px solid $theme-active;
    display: grid;
    grid-template-columns: auto auto;

    &__toggle {
        margin-top: 20px;
        width: 48px;
        text-align: center;

    }

    &__content {
        width: 205px;
        padding: 20px;
        display: grid;
        text-align: center;
        grid-template-rows: 60px 125px auto 65px 200px;
        
        input {
            width: calc(100% - 21px);
            padding: 7px 10px;
            margin-top: 15px;

            &:focus {
                border: 2px solid $theme-buttons-click;
                outline: none;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
            }
        }

        #button-block {
            margin-right: 25px;
            background-color: $theme-buttons-error;

            &:hover {
                background-color: $theme-buttons-error-hover;                
            }

            &:focus {
                background-color: $theme-buttons-error-click;
            }
        }

        .toggle {
            text-align: left;
        }

        .button {
            padding: 10px 0;
            width: 90px;
        }

        #button-private {
            padding: 10px 0;
            width: 100%;
        }

        div {
            h1 {
                word-break: break-all;
            }
        }
    }

    .toggle-arrow {
        background-color: $color-white;
        border: 1px solid $theme-active;
        padding: 10px;
        cursor: pointer;

        &:focus {
            box-shadow: none;
        }
    }
}


/* ----------------------------- Loader ------------------------------ */

.loader {

    div {
        height: 50px;
        width: 50px;
        margin: 0 10px;
        float: left;
        border-radius: 50px;
      }
      
    &-1 {
        background-color: $theme-buttons;
        animation: move 1.4s ease-in-out 0s infinite both;
    }
    &-2 {
        background-color: $theme-error;
        animation: move 1.4s ease-in-out .20s infinite both;
    }
    &-3 {
        background-color: $theme-buttons-secondary;
        animation: move 1.4s ease-in-out .40s infinite both;
    }
    &-4 {
        background-color: $theme-notification;
        animation: move 1.4s ease-in-out .60s infinite both;
    }
      
}

.loader-large {
    z-index: 1001;
    position: fixed;
    width: 280px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-small {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    width: 50%;
    margin: 0 auto;
    
    div {
        height: 25px;
        width: 25px;
        border-radius: 25px;
        margin: 90px 0;
        grid-row-start: 2;
    }
}

@keyframes move {
    0%, 70%, 100% {
      transform: scale(0)
    }
    
    30% {
      transform: scale(1)
    }
  }
